<article class="typography">
  <h1>Marcel</h1>
  <p>
    Hi, my name is Marcel. My favorite color is orange.
  </p>
  <h2>Technologies</h2>
  <p>
    I'm mainly a <a href="https://en.wikipedia.org/wiki/Java_(programming_language)">Java</a> and <a
    href="https://www.rust-lang.org/" target="_blank">Rust</a> Developer. I use <a href="https://www.docker.com/"
                                                                                   target="_blank">Docker</a> to deploy
    most of the stuff. Besides
    backends, I also work on
    frontends, mostly with the framework <a
    href="https://angular.io/" target="_blank">Angular</a>.
  </p>
  <h2>Projects</h2>
  <p>
    In my free time I work on some fun projects. You can find a small selection here:
  </p>
  <ul>
    <li><a href="https://tlm.solutions" target="_blank">Transport Live Mapping Solutions</a> - tracking locations of
      public transport vehicles.
    <li>
    <li><a href="https://dd-ix.net" target="_blank">Dresden Internet Exchange (DD-IX)</a> - connecting the city of
      Dresdenli>
    <li><a href="https://github.com/MarcelCoding/zia" target="_blank">Zia</a> - proxy UDP traffic using WebSockets,
      useful for WireGuard
      in restricted networks or with forced HTTP proxies.
    </li>
    <li><a href="https://github.com/MarcelCoding/bszet-mind" target="_blank">bszet-mind</a> - A tool to monitor STÜBER
      SYSTEMS' DAVINCI's HTML exported substitution plan for changes.
    </li>
    <li><a href="https://github.com/MarcelCoding/wsocket" target="_blank">WSocket</a> - Lighweight, fast and native
      WebSocket implementation for Rust.
    </li>
  </ul>
  <h2>Contact</h2>
  <p>You can reach out to me at one of the following ways:</p>
  <ul>
    <li>write me an E-Mail to <a href="mailto:me@m4rc3l.de"><code>me@m4rc3l.de</code></a></li>
    <li>write a message on Discord to <a href="https://discord.com/users/398895973490884608" target="_blank"><code>@Marcel#3615</code></a>
    </li>
    <li>write me on Matrix to <a href="https://matrix.to/#/@me:m4rc3l.de" target="_blank"><code>@me:m4rc3l.de</code></a>
    </li>
  </ul>
  <p>My Keys:</p>
  <ul>
    <li><b>SSH</b> - <a href="/id_ed25519.pub"><code>id_ed25519.pub</code></a></li>
    <li><b>PGP</b> - <a href="/0x3DF81C6A.asc"><code>0x3DF81C6A.asc</code></a></li>
  </ul>
</article>
